<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.sample01.board">
 
 	<select id="getNextVal" resultType="int">
 		select seq_board_bno.nextval
 		from dual
 	</select>
 	
 	<!-- 글쓰기 -->
 	<insert id="insertArticle">
 		insert into tbl_board (b_no, b_title, b_content, user_id, re_group)
 		values (#{b_no}, #{b_title}, #{b_content, jdbcType=VARCHAR}, #{user_id}, #{b_no})
 	</insert>
 	
 	<!-- 첨부파일 추가 -->
 	<insert id="insertAttach">
 		insert into tbl_attach (file_name, b_no)
 		values (#{file_name}, #{b_no})
 	</insert>
 	<!-- 글조회 -->
 	<select id="selectByBno" resultType="BoardVo">
 		select * from tbl_board
 		where b_no = #{b_no}
 	</select>
 	<!-- 글수정 -->
 	<update id="updateArticle">
 		update tbl_board set
 		 	b_title = #{b_title},
 		 	b_content = #{b_content, jdbcType=VARCHAR}
 		where b_no = #{b_no} 	
 	</update>
 	<!-- 글삭제 -->
 	<delete id="deleteArticle">
 		delete from tbl_board
 		where b_no = #{b_no}
 	</delete>
 	<!-- 글목록 -->
 	<select id="listAll" resultType="BoardVo">
 		select * from
			(select rownum rnum, a.* from 
				(select * from tbl_board
				<include refid="search"></include>
                order by re_group desc, re_seq asc) a)
		where rnum between ${startRow} and #{endRow}

 	</select>
 	
 	<!-- 글개수 -->
 	<select id="getCount" resultType="int">
 		select count(*) from tbl_board
 		<include refid="search"></include>
 	</select>
 	
 	<!-- 조회수 증가-->
 	<update id="updateViewCnt">
 		update tbl_board
 		set b_viewcnt = b_viewcnt + 1
 		where b_no = #{b_no}
 	</update>
 	
 	<!-- 해당 게시글의 댓글 개수 변경 -->
 	<update id="updateCommentCnt">
 		update tbl_board set
 			comment_cnt = comment_cnt + #{count}
 		where b_no = #{b_no}
 	</update>
 	
 	<sql id="search">
 		<if test="searchType != null">
			<choose>
				<when test='searchType == "t"'> <!-- 't'하면 char로 인식해서 ""로 바깥쪽을 ''로하기 -->
					where b_title like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where b_content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "u"'>
					where user_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tc"'>
					where b_title like '%' || #{keyword} || '%'
					or  b_content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tcu"'>
					where b_title like '%' || #{keyword} || '%'
					or  b_content like '%' || #{keyword} || '%'
					or user_id like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
 	</sql>
 	
 	<update id="updateLikeCount">
 		update tbl_board 
 		set like_count = like_count + #{count}
 		where b_no = #{b_no}
 	</update>
 	
 	<select id="selectLikeCount" resultType="int">
 		select like_count from tbl_board
 		where b_no = #{b_no}
 	</select>
 </mapper>