<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.sample01.like">
 	<insert id="insertLike">
 		insert into tbl_like
 		values (#{b_no}, #{user_id})
 	</insert>
 	<select id="isLike" resultType="int" parameterType="java.util.HashMap">
 		select count(*) from tbl_like
 		where b_no = #{b_no} and user_id = #{user_id}
 	</select>
 	<delete id="deleteLike" parameterType="java.util.HashMap">
 		delete from tbl_like
 		where b_no = #{b_no} and user_id = #{user_id}
 	</delete>
 </mapper>